.mobile-mockup {
    margin-bottom: 100px;

    .i-phone-x-mockup-inner {
        @include make-row;
        position: relative;
        align-items: center;
        margin: 0;
        padding-top: 140px;
    }

    .mobile-mockup-header,
    .iphone-x-outer {
        @include make-col-ready;
        @include make-col(12);
    }

    .mobile-mockup-header {
        text-align: center;
        margin-bottom: 60px;

        svg {
            margin-bottom: 20px;
        }

        .mobile-mockup-title {
            text-align: center;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 24px;

            span {
                font-weight: 300;
                color: #989898;
                font-size: 30px;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.6;
            @include media-breakpoint-up(xl) {
                padding: 0 280px;
            }

            span {
                color: #e1466c;
                font-style: italic;
            }
        }
    }

    & + .footer-content {
        margin-bottom: 100px;
    }

    .qr-code {
        text-align: center;
        position: absolute;
        top: 180px;
        right: -20px;
        width: 140px;

        @include media-breakpoint-up(xl) {
            @media (max-width: 1500px) {
                right: 10px;
            }
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: 400;
            line-height: 1.4;
        }

        img {
            max-width: 140px;
            background-color: #fff;
            box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.2);
        }
    }

    .iphone-x-outer {
        @include media-breakpoint-up(xl) {
            @include make-col(6);
        }

        h4 {
            text-align: center;
            margin-top: 20px;

            a {
                color: #333e48;
                text-decoration: none;
                font-size: 15px;
            }

            @include media-breakpoint-up(xl) {
                @media (max-width: 1500px) {
                    margin-left: 28%;
                    text-align: left;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 180px;
            width: 320px;
            top: 50%;
            left: 50%;
            background-color: transparent;
            border: 2px dashed #e7e7e7;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-right-radius: 65%;
            z-index: -1;

            @include media-breakpoint-up(xl) {
                @media (max-width: 1500px) {
                    width: 230px;
                }
            }

            @include media-breakpoint-down(sm) {
                content: none;
            }
        }
    }

    .iphone-x {
        position: relative;
        margin: auto;
        width: 415px;
        height: 716px;
        overflow: hidden;
        background-color: #fed700;
        border-radius: 40px;
        border: 20px solid #fafafa;
        padding: 0;
        box-shadow:0px 0px 100px 1px rgba(0,0,0,0.2);

        @include media-breakpoint-up(xl) {
            @media (max-width: 1500px) {
                margin: 0;
            }
        }

        embed {
            border-radius: 20px;
        }

        &:before,
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        // home button indicator
        &:after {
            bottom: 22px;
            width: 140px;
            height: 4px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        // frontal camera/speaker frame
        &:before {
            top: 0px;
            width: 56%;
            height: 30px;
            background-color: #fafafa;
            border-radius: 0px 0px 40px 40px;
        }

        i,
        b,
        s,
        span {
            position: absolute;
            display: block;
            color: transparent;
        }

        // speaker
        i {
            top: 0px;
            left: 50%;
            transform: translate(-50%, 6px);
            height: 8px;
            width: 15%;
            background-color: #f1f1f1;
            border-radius: 8px;
            //box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
        }

        // camera
        b {
            left: 12%;
            top: 0px;
            transform: translate(180px, 4px);
            width: 12px;
            height: 12px;
            background-color: #f1f1f1;
            border-radius: 12px;
            box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);

            &:after {
                content: '';
                position: absolute;
                background-color: #f1f1f1;
                width: 6px;
                height: 6px;
                top: 2px;
                left: 2px;
                top: 3px;
                left: 3px;
                display: block;
                border-radius: 4px;
                //box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
            }
        }

        // time
        s {
            top: 50px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            width: 100%;
            font-size: 70px;
            font-weight: 100;
            padding-top: 60px;
        }

        // action buttons
        span {
            bottom: 50px;
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            left: 30px;

            & + span {
                left: auto;
                right: 30px;
            }
        }


        @include media-breakpoint-down(sm) {
            max-width: 100%;
            max-height: 86vh;

            embed {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

body.landing.mobile {
    position: relative;

    &::before {
        background-image: url(../images/pat.png);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: .6;
    }
}

@media (min-width: 1440px) {
    .landing.mobile .container {
        max-width: 1180px;
    }
}

@media (min-width: 1500px) {
    .landing.mobile .container {
        max-width: 1440px;
    }
}
